
* {
  margin: 0 auto;
}

.recipe_results {
  text-align: center;
}

h4 {
  clear:left;
}

.recipe_image {
  height: 275px;
  width: 275px;
  border: 2px solid black;
}
.image_container {
  display: inline-block;
  width: 30%;
}

.header {
  text-align: center;
}
.jumbotron{
  background: none;
}
.input-group{
  background-color: #eeeeee;
  width: 50%;
  border: 0;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  margin: 14px auto;
}
.input-group:focus{
  border: 0;
  outline:0;
}

.headerLogo {
  height: 100px;
  width: 100px;
}

.headerName {
  text-align: center;
  color: #ffffff;
}

.ingredients {
  width: 250px;
  height: 100%;
  border: 3px solid red;
  margin-left: 10px;
  margin-top: -29%;

}

h3 {
  text-align: center;
}

.pantry {
  width: 250px;
  height: 100%;
  border: 3px solid blue;
  margin-left: 10px;
  margin-top: -29%;
}


